tbody tr:hover {
    background: #b1b1b1;
    color: #fff;
}

.items-text {
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.button-delete {
    margin-right: 10px;
}

.button-edit {
    margin-left: 10px;
}

.border-btn {
    border: 1px solid #000000;
}